body{font-family:Arial, Georgia, Helvetica, sans-serif;width:500px;left:500px;
color:forestgreen;} 
h1{color:magenta;text-align:center;}
#pollution{color:darkslateblue;}
#head{color:purple;}
#head2{color:orangered}
h3{color:darkslategrey;}